/*
 * Styles for Table Page
 */

.field .subField {
	padding:1em;
	border: 1px solid #e0e0e0;
	margin-bottom: 2px;
	margin-left: 1em;
}

.subFieldLabel {
	font-size: 110%;
}

.rowCommands a,
.tablePage .rowCommands a:hover,
.rowCommands a:hover,
.rowCommands a:active,
.rowCommands a:visited {
	text-decoration: none;
}

.tablePageField input[type=text],
.tablePageField input[type=email],
.tablePageField input[type=number],
.editTableLabel input[type=text][size] {
	width: 100%;
}

table.tablePage td.group {
	font-size: 120%;
	font-weight: bold;
	/* text-align: center; */
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 0.5em;
}

table.tablePage .command img {
	vertical-align: baseline;	
}
.rowCommands .command,
.labelCommandContainer .command {
	margin: 2px 5px 2px 0px;
}

.tablePage tfoot .rowCommands {
    text-align: right;
}
.dataTable tfoot .rowCommands {
	text-align: left;
}

.tablePage th.rowCommands,
.tablePage td.rowCommands {
	min-width: 140px;
	text-align: right;
}

.labelCommandContainer {
	float: right;
}

table.tablePage tbody tr.noResults {
	text-align: center;
}

.tablePage caption {
	font-weight: bold;
	font-size: 110%;
}

table.tablePage .tablePageSubHeader td {
	background-color: transparent;
	padding-top: 1em;
	font-weight: bold;
	text-align: center 	
}

.tablePage td.coltype-Numeric,
.tablePage td.coltype-Monetary {
	text-align: right;
}

/*
.tablePage tfoot td {
	border-top: 1px solid;
}
*/

.multiTablePageRowData {
	width: 95%;
}

.multiTablePageRowData th {
	width: 30%;
}

.savedFiles li,
.availableFiles li {
	clear: right;
}
.commandSelectedFile {
	margin: 2px 5px 2px 0px;
	float: right;
}

a.commandSelectedFile,
#content a.commandSelectedFile,
dl.portalMessage a.commandSelectedFile
a.commandSelectedFile,
#content a.removeReference {
	text-decoration: none;
	border-bottom: none;
}

/* redo sorting (from DataTables) as the messy Plone CSS hide those icons */
table.tablePage th.sorting { background: url('../../../++resource++jquery.datatables/media/images/sort_both.png') no-repeat center right; }
table.tablePage th.sorting_asc { background: url('../../../++resource++jquery.datatables/media/images/sort_asc.png') no-repeat center right; }
table.tablePage th.sorting_desc { background: url('../../../++resource++jquery.datatables/media/images/sort_desc.png') no-repeat center right; }
table.tablePage th.sorting_asc_disabled { background: url('../../../++resource++jquery.datatables/media/images/sort_asc_disabled.png') no-repeat center right; }
table.tablePage th.sorting_desc_disabled { background: url('../../../++resource++jquery.datatables/media/images/sort_desc_disabled.png') no-repeat center right; }

/* Help for large tables */
.controlWidth {
	margin-left: 4px;
}
table.tablePage thead th.mainCommandCell {
	min-width: 40px;
}

/*
table.helpEdit thead th {
	min-width: 10em !important;
}
table.helpEdit thead th.noData {
	min-width: 0 !important;
}
table.helpEdit thead th.mainCommandCell {
	min-width: 40px;
}
table.helpEdit {
	width: auto !important;
}
*/
