/*
 * Styles for Table Page
 */

.field .subField {
	padding:1em;
	border: 1px solid #e0e0e0;
	margin-bottom: 2px;
}

.rowCommands a,
.tablePage .rowCommands a:hover,
.rowCommands a:hover,
.rowCommands a:active,
.rowCommands a:visited {
	text-decoration: none;
}

.tablePageField input[type=text] {
	width: 100%;
}

table.tablePage .command img {
	vertical-align: baseline;	
}
.rowCommands .command {
	margin: 2px 5px 2px 0px;
}

.tablePage tfoot .rowCommands {
	text-align: right;
}

.tablePage th.rowCommands,
.tablePage td.rowCommands {
	min-width: 150px;
	text-align: right;
}

table.tablePage tbody tr.noResults {
	text-align: center;
}

.tablePage caption {
	font-weight: bold;
	font-size: 110%;
}

table.tablePage .tablePageSubHeader {
	background-color: transparent;
	padding-top:1em;
	font-weight: bold;
	text-align: center 	
}

/*
.tablePage tfoot td {
	border-top: 1px solid;
}
*/

.multiTablePageRowData {
	width: 95%;
}

.multiTablePageRowData th {
	width: 30%;
}

.savedFiles li,
.availableFiles li {
	clear: right;
}
.commandSelectedFile {
	margin: 2px 5px 2px 0px;
	float: right;
}

a.commandSelectedFile,
#content a.commandSelectedFile,
a.commandSelectedFile,
a.commandSelectedFile,
a.commandSelectedFile,
a.commandSelectedFile {
	text-decoration: none;
	border-bottom: none;
}
